#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4">
  <display-name>${rootArtifactId} War</display-name>
  <description>no description</description>
  <servlet>
    <servlet-name>${className}RequestRouter</servlet-name>
    <display-name>${className}RequestRouter</display-name>
    <description>no description</description>
    <servlet-class>${package}.servlets.${className}RequestRouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>${className}RequestRouter</servlet-name>
    <url-pattern>/R${rootArtifactId}/*</url-pattern>
  </servlet-mapping>
</web-app>
